<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Все группы</title>
</head>
<body>
    <a href="/">Вернуться назад</a>
    <h1>Все группы</h1>
    <ul>
        <% groups.forEach(group => { %>
          <li>
            <a href="/groups/<%= group.id %>"><%= group.name %></a>
          </li>
        <% }) %>
      </ul>
    <% if (userRole === 'admin' || userRole === 'moderator') { %>
        <a href="/groups/create">Создать группу</a>
    <% } %>
</body>
</html>