<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <style>
        body {
          font-family: Arial, sans-serif;
          background-color: #f0f0f0;
          margin: 0;
          padding: 0;
        }
    
        a {
          text-decoration: none;
          color: #007bff;
        }
    
        a:hover {
          text-decoration: underline;
        }
    
        h1, h2 {
          color: #333;
        }
      </style>

</head>
<body>
    <h1>Main Page</h1>
    <a href="/users"> Все пользователи</a>
    <a href="/posts">Все посты</a>
</body>
</html>