<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <style>
        body {
          font-family: Arial, sans-serif;
          background-color: #f0f0f0;
          margin: 0;
          padding: 0;
        }
    
        a {
          text-decoration: none;
          color: #007bff;
        }
    
        a:hover {
          text-decoration: underline;
        }
    
        h1, h2 {
          color: #333;
        }
      </style>

      <script>
        function getCookie(name) {
          const value = '; ' + document.cookie;
          const parts = value.split('; ' + name + '=');
          if (parts.length == 2) return parts.pop().split(';').shift();
        }

        function logout() {
          document.cookie = 'userId=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
          document.cookie = 'userRole=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
          location.reload();
        }

        window.onload = function () {
          const userRole = getCookie('userRole');
          const userId = getCookie('userId');

          if (userRole && userId) {
            const loginLink = document.getElementById('login-link');
            loginLink.textContent = 'Выйти';
            loginLink.href = '#';
            loginLink.onclick = logout;
          }
        };
      </script>

</head>
<body>
    <h1>Main Page</h1>

    <a href="/users/login" id="login-link">Войти</a>
    <br>
    <a href="/users/check">Проверка прав пользователя</a>

    <ul>
      <li><a href="/users"> Все пользователи</a></li>
      <li><a href="/posts">Все посты</a></li>
      <li><a href="/groups">Все группы</a></li>
    </ul>

    
</body>
</html>